# Strapi production environment
HOST=0.0.0.0
PORT=1337
NODE_ENV=production

# App secrets (set unique, strong values)
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database (Render Postgres)
DATABASE_CLIENT=postgres
DATABASE_URL=
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false
